@model InventoryMgr.Models.InventoryTaskItem
<div id="taskDetails">
    <label class="itemHeaderMain">Inventory Task Info</label>
    <div style="margin-left:15px;clear:both;margin-top:0;">
        @Html.HiddenFor(model => model.InventoryItemId)

        <label class="clearBoth"><span class="itemHeader">Name: </span><span> @Html.DisplayFor(model => model.Name) </span></label>
        <label class="clearBoth"><span class="itemHeader">Description: </span><div class="textArea"> @Html.DisplayFor(model => model.Description) </div></label>
        <label class="clearBoth" ><span class="itemHeader">Status: </span><span> @(Model.Completed ? "Completed" : "Not Completed") </span></label>
        <label class="clearBoth"><span class="itemHeader">Created Date: </span><span> @Html.DisplayFor(model => model.TaskDate) </span></label>
        @if (Model.Completed)
        {
            <label class="clearBoth"><span class="itemHeader">Completed Date: </span><span> @Html.DisplayFor(model => model.CompletedDate) </span></label>
        }
        <label class="clearBoth"><span class="itemHeader">Quantity: </span><span>@Html.DisplayFor(model => model.Quantity)</span></label>
    </div>
    <label class="itemHeaderMain">Inventory Item Info</label>
    <div style="margin-left:15px;clear:both;margin-top:0;">
        <label class="clearBoth"><span class="itemHeader">Name: </span><span>@ViewBag.InventoryItem.ItemName</span></label>
        <label class="clearBoth"><span class="itemHeader">Description: </span><div class="textArea">@ViewBag.InventoryItem.ItemDescription </div></label>
        <label class="clearBoth"><span class="itemHeader">Current Quantity: </span><span>@(ViewBag.InventoryItem.ItemQuantity + " " + ViewBag.InventoryItem.InventoryQtyMeasurements.UnitOfMeasure)</span></label>
    </div>

    @Html.HiddenFor(model => model.UserId)
    <p>
        <input type="button" value="Edit" data-bind="click: $root.getInventoryTaskEditForm" />
        <input type="button" value="Close" onclick="ShowTaskListDetails()" />
    </p>
</div>
